@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 30px;
}
h1, h3 {
    color: hsl(234, 12%, 34%);
}
.header {
    font-weight: 200;
    margin-bottom: -25px;
}
.info {
    color: hsl(229, 6%, 66%);
    width: 33%;
    font-size: 14px;
    margin-left: 33%;
}
.card > p {
    font-size: 12px;
    text-align: left;
    margin-top: -10px;
}
.card {
    position: absolute;
    width: 260px;
    height: 200px;
    box-shadow: 1px 1px 20px hsl(229, 6%, 66%);
    padding: 10px 30px;
    border-radius: 10px;
}
.card:nth-of-type(1) {
    margin: 150px 0 0 12%;
    border-top: 4px solid hsl(180, 62%, 55%);
}
.card:nth-of-type(2) {
    margin: 30px 0 0 38%;
    border-top: 4px solid hsl(0, 78%, 62%);
}
.card:nth-of-type(3) {
    margin: 280px 0 0 38%;
    border-top: 4px solid hsl(34, 97%, 64%);
}
.card:nth-of-type(4) {
    margin: 150px 0 0 65%;
    border-top: 4px solid hsl(212, 86%, 64%);
}
h3 {
    text-align: left;
}
.icon {
    height: 55px;
    width: 55px;
    background-size: 55px 55px;
    margin-top: 20px;
    display: inline;
    float: right;
}
.card:nth-of-type(1) > .icon {
    background-image: url('./images/icon-supervisor.svg');
}
.card:nth-of-type(2) > .icon {
    background-image: url('./images/icon-team-builder.svg');
}
.card:nth-of-type(3) > .icon {
    background-image: url('./images/icon-karma.svg');
}
.card:nth-of-type(4) > .icon {
    background-image: url('./images/icon-calculator.svg');
}
.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }
@media only screen and (max-width: 376px) {
    body {
        font-size: 0.7em;
    }
    .header {
        margin-bottom: -15px;
    }
    .info {
        margin-left: 12%;
        width: 75%;
        font-size: 13px;
    }
    .card {
        position: relative;
    }
    .card:nth-of-type(n) {
        margin: 20px;
    }
    .attribution {
        position: relative;
    }
}